<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @user.name == @user.email %>
          <h1>Lucky duck!</h1>
          <img src="https://media.giphy.com/media/e8n2clEN45Yre/giphy.gif" alt="duck">
          <p>
            Someone has sent you an OpenWhen!
          </p>
          <p>
            To see it, visit <strong><a href="<%= @url %>">www.openwhen.co</a></strong>.
          </p>
          <p>
            <strong>Your username:</strong> <%= @user.username %>.<br>
          </p>
          <p>
            <strong>Your password:</strong> OpenWhen (case sensitive!)
          </p>N.B.: You can change your username and password after your first login. Enjoy your special message!</p>
      
      <% else %>

          <h1>Lucky duck!</h1>
          <img src="https://media.giphy.com/media/e8n2clEN45Yre/giphy.gif" alt="duck">
          <p>
            Someone has sent you an OpenWhen!
          </p>
          <p>
            To see it, visit <strong><a href="<%= @url %>">www.openwhen.co</a></strong>.
          </p>
          <p>
            <strong>Your username:</strong> <%= @user.username %><br>
          </p>
          <p>
            Enjoy your special message!
          </p>

        <% end %>
  </body>
</html>
