<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Welcome, <%= @user.name.titleize %>!</h1>
     <img src="https://media.giphy.com/media/xUPGGDNsLvqsBOhuU0/giphy.gif" alt="welcome">
    <p>
      You have successfully signed up for www.openwhen.co!
    </p>
    <p>
      <strong>Your username:</strong> <%= @user.username %>
    </p>
    <p>
      To login, visit <strong><a href="<%= @url %>/login">www.openwhen.co</a></strong>.
    </p>
    <p>Thanks for joining and happy sending!</p>
  </body>
</html>
